@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: auto;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background: url("./assets/vines_waterfall_01.png");

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-header {
  display: block;
  width: 100vw;
  background: linear-gradient(transparent, black);
  font-size: 40px;
  text-align: center;
  color: green;
  -webkit-text-stroke: 2px yellowgreen;
  margin: auto;
}