.root-node {
    position: relative;
    display: block;
    min-width: fit-content;
    min-height: fit-content;
    width: 30px;
    height: 30px;
    font-size: 20px;
    text-align: center;
    color: gold;
    background: black;
    padding: 3px;
    border: solid 3px darkred;
    cursor: pointer;
    border-radius: 50%;
    align-self: center;
}

.nodeBlock {
    position: relative;
    display: block;
    width: fit-content;
    height: fit-content;
    font-size: 20px;
    text-align: center;
    color: lightskyblue;
    background: black;
    padding: 3px;
    border: solid 3px blue;
    cursor: pointer;
    border-radius: 10px;
    z-index: 2;
    justify-self: flex-start;
}

.node-options {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 30px;
    z-index: 3;
}

.option-block {
    display: block;
    color: white;
    background: grey;
    cursor: pointer;
    padding: 5px;
    border: 1px solid transparent;
}

.option-block:hover {
    background: rgb(57, 79, 47);
    border-color: yellowgreen;
    color: greenyellow;
}

.edit-node {
    position: absolute;
    z-index: 3;
}

.wordBlock {
    position: relative;
    display: block;
    width: fit-content;
    height: fit-content;
    font-size: 20px;
    text-align: center;
    color: lightgreen;
    background: black;
    padding: 3px;
    border: solid 3px green;
    cursor: pointer;
    border-radius: 10px;
    z-index: 2;
    align-self: flex-start;
}

.wordBlock-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    margin: auto;
}

.nodeBlock:hover {
    box-shadow: 0 0 5px 5px green;
    border: solid 3px lightskyblue;
}

.nodeBlock-container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    gap: 20px;
    margin: auto;
}

.nodeBlock-container-vertical {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
}