.main-menu {
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: center ;
    align-items: center;
    width: 24svw;
    height: 24svh;
    margin: 20px auto;
    padding: 20px;
}