.main-menu {
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(brown -200%, yellowgreen 50%, brown 300%);
    width: 80svw;
    margin: 20px auto;
    padding: 20px;
    border-radius: 20px;
    border: solid 3px black;
    gap: 10px;
}