body {
  margin: auto;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  overflow-x: hidden;
  width: auto;
  min-width: 100vw;
  min-height: 100vh;
}

.appearGrow {
  animation: appearGrow 0.3s ease;
}

@keyframes appearGrow {
  from {transform: scaleY(0%);}
  to {transform: scaleY(100%);}
}

/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background: url("../public/assets/vines_waterfall_01.png");

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

@tailwind base;
@tailwind components;
@tailwind utilities;