.canvas-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow-x: auto;
  }

.canvas {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: fit-content;
    height: auto;
    overflow: auto;
    transform-origin: top left;
    padding: 100px;
    background: linear-gradient(rgb(150, 170, 140), rgb(170, 150, 115));
}

.tree-lines {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    pointer-events: none;
    overflow: visible;
}

.button-container {

}

.new-node-input {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    color: orange;
    background-color: rgba(0, 0, 0, 0.5);
}